<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}A propos{% endblock %}</title>
    
       <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">  Librairies d'icônes JS-->

       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
       
        {% block stylesheets %}
     
        {% endblock %}

        
    </head>
    <body>



{% block body %}
<link href="{{ asset('css/style_base_menu.css') }}" type="text/css" rel="stylesheet">
<link href="{{ asset('css/contact.css') }}" type="text/css" rel="stylesheet">

 <div class="panel">
    <div class="panel-default"></div>
   
  </div>
  <nav class="black">
    <div class="underline"></div>
    <div class="underline"></div>
    <div class="underline"></div>
    <a href="{{ path('home')}}" onClick="ul(0)" >Accueil</a><a href="{{ path('about')}}" onClick="ul(1)">A Propos</a><a href="{{ path('skills')}}" onClick="ul(2)">Compétences</a><a href="{{ path('projects')}}" onClick="ul(3)">Projets</a><a href="{{ path('cv')}}" onClick="ul(4)">CV</a><a href="{{ path('contact')}}" onClick="ul(5)">Contact</a>
  </nav>    





       <div class="content">
      <div class="content-left">
        <h1>Les différents moyens de me contacter :</h1>
          
          <a href=""> 06.49.60.29.78 </a>
          <a href="mailto:alexiscaille97@gmail.com">alexiscaille97@gmail.com</a>
          <a href="https://www.linkedin.com/in/alexis-caill%C3%A9-71b0b916b/"> Linkedin</a>
          <a href="https://alexis4497.github.io/portfolio/"> Github</a>
            
      </div>


       <div class="content-right">
          
                    <h1 class="decorated" id="footer_h4"><span> CONTACTEZ MOI !</span></h1>                     
    
        <div class="form-container">
            <form id="reused_form">
              <div>
                <input id="name" type="text" name="name" placeholder="Nom" required class="validate">
              </div>
              <div>
                <input id="email" type="email" name="email" placeholder="E-mail" required class="validate">
              </div>
              <div>
                <input id="enterprise" type="text" name="enterprise" placeholder="Entreprise" required class="validate">
              </div>
              <div>
                <textarea id="message" name="message" placeholder="Ici votre message..." class="validate" ></textarea>
              </div>
              <div>
                <button class="form-button" type="submit">Envoyer</button>
              </div>
            </form>
        
            <div id="error_message" style="width:100%; height:100%; display:none; ">
              <h4>Une erreur s'est produite, veuillez rééssayer</h4> 
            </div>
            <div id="success_message" style="width:100%; height:100%; display:none; ">
              <h4>Message envoyé !</h4>
            </div>
          </div>
      
      </div>



























<script src="{{ asset('js/script_base_menu.js') }}"></script>

{% endblock %}
</body>

</html>