<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}A propos{% endblock %}</title>
    
       
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
       
        {% block stylesheets %}
     
        {% endblock %}

        
    </head>
    <body>


{% block body %}
<link href="{{ asset('css/style_base_menu.css') }}" type="text/css" rel="stylesheet">

 <div class="panel">
    <div class="panel-default"></div>
   
  </div>



  <nav class="black">

    <div class="underline"></div>
    <div class="underline"></div>
    <div class="underline"></div>

      <ul>

        <li><a href="{{ path('home')}}">Accueil</a></li>
        
        <li><a href="{{ path('about')}}">A Propos</a></li>

        <li><a href="{{ path('skills')}}">Compétences</a></li>

        <li class="deroulant"><a href="{{ path('projects')}}">Projets</a>
          <ul class="sous"> 

            <li><a href="#">Projets Stages<a/></li> <!--mettre les liens vers les pages -->
            <li><a href="#">Projets Cours<a/></li>  <!--mettre les liens vers les pages -->
            <li><a href="#">Projets persos</a></li> <!--mettre les liens vers les pages -->
          </ul>
        </li>

        <li><a href="{{ path('cv')}}">CV</a></li>

        <li><a href="{{ path('contact')}}">Contact</a></li>
        
      </ul>
  </nav>    





<script src="{{ asset('js/script_base_menu.js') }}"></script>

{% endblock %}

</body>

</html>